@charset "UTF-8";

/*----Mexendo UNIVERSALMENTE----*/
*{margin: 0; padding: 0;}

html{
    background-color: black;
}

/*----Navigation Bar----*/
header{
    background-color: red;

    display: flex;
    align-items: center;
}
.img-logo-senai{
    height: 3em;
    display: block;
}
nav{
    width: 100%;
}
.nav-content{
    display: flex;
    justify-content: space-around;
}
.nav-content a{
    color: white;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
    
    transition: .3s;
    
    flex-basis: 25%;
    text-align: center;
}
.nav-content a:hover .nav-content{
    height: 3em;
}
.nav-content a:hover{
    color: red;
    background-color: white;

    height: inherit;

    transition: .3s;
}

.btn-hamburguer{
    display: none;
}

/*----Apresentação----*/
.apresentacao{
    height: 30em;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    background-image: url(img/programming.jpg);
    background-size: cover;
}
.apresentacao-conteudo{
    width: 45%;
}
.apresentacao-conteudo h1{
    color: white;
    font-size: 84px;
    font-family: 'Teko', sans-serif;
}
.apresentacao-conteudo h2{
    font-family: 'Courier Prime', monospace;
    font-size: 44px;
    color: rgb(255, 0, 34);
}
.podeisso{
    width: 50%;
}

/*----Projetos----*/
.projetos{
    background-color: rgba(14, 0, 141, 0.15);

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.projetos-title{
    width: 45%;
    height: 2em;

    align-self: flex-end;

    color: rgb(207, 0, 34);
    font-size: 58px;
    font-family: 'Teko', sans-serif;
}
.podeisso-title{
    width: 50%;
}
.podeisso-subtitle{
    width: 50%;
}
.projetos-subtitle{
    height: 2em;
    width: 50%;

    justify-self: flex-start;
    font-family: 'Courier Prime', monospace;
    font-size: 30px;
    color: white;
}

.img-e-conteudo{
    height: 30em;
    width: 100%;

    display: flex;
    justify-content: center;
}

.projetos-container-img{
    height: 90%;
    width: 40%;

    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.podeisso-conteudo{
    width: 5%;
}

.projetos-conteudo{
    width: 45%;
}
.projetos-conteudo h2{
    color: rgb(224, 169, 16);
    font-size: 58px;
    font-family: 'Teko', sans-serif;
}
.projetos-conteudo h3{
    color: white;
}

/*
@media screen and (max-width: 1400px) {
    /*------Article APRESENTACAO------
    .apresentacao {
        padding: 4% 4% 4% 5%;
    }

    .apresentacao section h1 {
        font-size: 80px;
    }

    .apresentacao section h2 {
        font-size: 40px;
    }

    /*------Article PROJETOS------
    .projetos h1 {
        padding: 4% 4% 0 5%;
        font-size: 54px;
    }

    .projetos section {
        padding: 2em 3em 3em 5%;
        display: flex;
        align-items: center;
    }

    .conteudo {
        align-self: flex-start;
    }

    .conteudo p {
        font-size: 28px;
    }

    .conteudo h2 {
        font-size: 60px;
    }
}

@media screen and (max-width: 1000px) {
    /*------Article APRESENTACAO------
    .apresentacao section h1 {
        font-size: 66px;
    }

    .apresentacao section h2 {
        font-size: 34px;
    }

    /*------Article PROJETOS------
    .projetos h1 {
        font-size: 50px;
        text-align: center;
    }

    .projetos section {
        padding: 2em 7% 2em 7%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .img-projetos {
        order: 2;
        margin: 4% 0 0 0;
        width: 100%;
    }

    .img-projetos {
        height: 20em;
    }

    .conteudo {
        text-align: center;
        width: 100%;
    }

    .conteudo p {
        font-size: 20px;
    }

    .conteudo h2 {
        font-size: 48px;
    }

    .conteudo h3 {
        font-size: 16px;
    }
}

@media screen and (max-width: 800px) {
    /*------Navigation Bar------
    nav {
        flex-direction: row-reverse;
    }
    .nav-img {
        flex-basis: 100%;
    }
    .nav-bar{
        flex-basis: 0%;
    }
    .nav-bar .button{
        transition: .2s;
        height: 3em;
        cursor: pointer;
        display: block;
    }
    .nav-bar .nav-content{
        transition: .2s;
        display: none;
        position: absolute;
        z-index: 1;
    }
    .nav-bar:hover .button{
        transition: .2s;
    }
    .nav-bar:hover .nav-content{
        transition: .2s;
        width: 100%;
        background-color: red;
        display: flex;
        flex-direction: column;
    }

    /*------Article APRESENTACAO------
    .apresentacao {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .apresentacao section {
        text-align: center;
        width: 100%;
    }

    .apresentacao section h1 {
        font-size: 60px;
    }

    .apresentacao section h2 {
        font-size: 30px;
    }

    /*------Article PROJETOS------
    .projetos h1 {
        font-size: 46px;
        text-align: center;
    }

    .conteudo p {
        font-size: 18px;
    }

    .conteudo h2 {
        font-size: 40px;
    }

    .conteudo h3 {
        font-size: 14px;
    }
}

@media screen and (max-width: 500px) {
    /*------Navigation Bar------
    nav {
        flex-direction: row-reverse;
    }
    .nav-img {
        flex-basis: 100%;
    }
    .nav-bar{
        flex-basis: 0%;
    }
    .nav-bar .button{
        transition: .2s;
        height: 3em;
        cursor: pointer;
        display: block;
    }
    .nav-bar .nav-content{
        transition: .2s;
        display: none;
        position: absolute;
        z-index: 1;
    }
    .nav-bar:hover .button{
        transition: .2s;
    }
    .nav-bar:hover .nav-content{
        transition: .2s;
        text-align: center;
        width: 100%;
        background-color: red;
        display: flex;
        flex-direction: column;
    }
}
*/
